<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../js/library/bootstrap/bootstrap-3.3.4.css">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../js/tool/font-awesome.4.6.0.css">
    <link href="../css/form.css" rel="stylesheet">
    <link href="../css/calendar.css" rel="stylesheet">
    <link href="../css/media-player.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/icons.css" rel="stylesheet">
    <link href="../css/generics.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
</head>
<body style="background-color: transparent">
<!-- Deafult Table -->
<div class="block-area" id="defaultStyle">
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h2 class="tile-title">所有用户</h2>
                <table class="table tile" id="mainTable">
                </table>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-alt">编辑</button>
                    <button type="button" class="btn btn-sm btn-alt">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>